body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}
#taimer-div {
  width: 15%;
  height: 15%;

  border: none;
  border-radius: 5px;
  font-family: "Rye";
  font-size: 16px;
  margin-top: 450px;
  margin-left: 30px;
}
.head-name {
  font-family: "Rye";
  font-size: 30px;
  margin-left: 800px;
  margin-bottom: 100px;
}

#root {
  font-family: "Rye";
  font-weight: 400;
  font-size: 20px;
}
.btn {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  margin-left: 200px;
  font-family: "Rye";
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.questionsText {
  margin-left: 750px;
  margin-bottom: 100px;
}
dialog {
  width: 600px;
  height: 200px;
  background-color: rgb(179, 169, 157);
  text-align: center;
  border: none;
  border-radius: 5px;
}
dialog::backdrop {
  background: rgba(241, 213, 170, 0.534);
}
.yesBtn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: blanchedalmond;
  font-family: "Rye";
  margin-top: 30px;
  cursor: pointer;
}
.noBtn {
  width: 150px;
  height: 40px;
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  background-color: blanchedalmond;
  font-family: "Rye";
  margin-top: 30px;
  cursor: pointer;
}
